* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevents horizontal scrolling */
}

/*---------------------------menu bar------------------------------*/
header{
  width: 100%;
  height: 8vh;
  background: linear-gradient(45deg, var(--color-a), var(--color-b));
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
  animation: gradientAnimation 6s infinite alternate ease-in-out;
}

/* เมนูหลัก */
.menu-container {
  color: white;
  display: flex;
  justify-content: flex-end; /* Align to the right */
  align-items: center;
  width: 100%;
  padding: 25px 50px;
  position: fixed;
  top: 0;
  right: 0;
  font-weight: 200;
}

.menu {
  list-style: none;
  display: flex;
  gap: 10px;
  padding: 0;
  margin: 0;

}

.menu li {
  padding-right: 20px;
}

.menu a {
  text-decoration: none;
  color: white;
  font-size: 1vw;
  font-family: League Spartan;
  padding: 15px;
  transition: 0.3s;
}

.menu a:hover {
  color: #F2A0FF;
  padding: 10px;
  border-bottom: 2px solid #F2A0FF;
}
/*----------------------------------------------------------------*/
/*-------------------------- Background --------------------------*/
.Background {
  width: 100%;
  height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: rgba(21,21,21,1);
  opacity: 1;
  position: relative;
  overflow: hidden;
}

/* Color Background */
.color_bg {
  width: 100%;
  height: 70vh;
  background: linear-gradient(45deg, var(--color-a), var(--color-b));
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
  animation: gradientAnimation 6s infinite alternate ease-in-out;
}
@layer base{
  @property --color-a {
      syntax: "<color>";
      inherits: true;
      initial-value: transparent;
    }
  @property --color-b {
      syntax: "<color>";
      inherits: true;
      initial-value: transparent;
  }
}

@keyframes gradientAnimation {
  0% {
    --color-a: #707EFF;
    --color-b: #F2A0FF;
  }
  50% {
    --color-a: #F2A0FF;
    --color-b: #707EFF;
  }
  100% {
    --color-a: #707EFF;
    --color-b: #F2A0FF;
  }
}

/*--------------------------- Name: Apichaya -----------------------*/
.Name {
  font-size: 6vw;
  font-weight: bold;
  margin-top: 2vh;
  margin-left: 12vw;
  text-align: left; /* Center text */
  font-family: 'League Spartan', sans-serif;
  color: white;
  position: relative;
  width: 100%;
}
.Surname {
  font-size: 4vw;
  font-weight: Bold;
  margin-left: 12vw;
  margin-top: 1vh;
  color: white;
  position: relative;
  text-align: left; /* Center text */
  font-family: 'League Spartan', sans-serif;
  width: 100%;
}

.FIBO {
  font-size: 2vw;
  font-weight: 200;
  font-family: 'League Spartan', sans-serif;
  margin-top: 1vh;
  margin-left: 12vw;
  width: 100%;
  color: white;
  position: relative;
  text-align: left;
}

.Bg_WCloud {
  width: 100%;
  height: 15vh;
  background: white;
  position: relative;
  margin-top: -6vh; /* Adjust dynamically */
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}

.Bg_BCloud {
  width: 100%;
  height: 10vh;
  background: #151515;
  position: relative;
  margin-top: -10vh;
  overflow: hidden;
}

.RBCloud {
  width: 60%;
  height: 20vh;
  background: url("../images/RBCloud.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
  position: absolute;
  top: 42vh;
  right: 0;
  overflow: hidden;
}
.LBCloud {
  width: 40%;
  height: 30vh;
  background: url("../images/LBCloud.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
  opacity: 1;
  position: absolute;
  top: 40vh;
  left: 0;
  overflow: hidden;
}
.WCloud {
  width: 100%;
  height: 40vh;
  background: url("../images/v196_126.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: relative;
  margin-top: -30vh;
  overflow: hidden;
}
.Rocket {
  width: 50vw;
  height: 60vh;
  background: url("../images/v196_127.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  opacity: 1;
  position: absolute;
  top: 8vh;
  right: 6vw;
  overflow: hidden;
  animation: moveRocket 5s infinite;
}

@keyframes moveRocket {
  0% {
    transform: translateY(2vh);
  }
  50% {
    transform: translateY(-2vh);
  }
  100% {
    transform: translateY(2vh);
  }
}

.panel_FRA500 {
  width: 25vw;
  height: 6vh;
  background: url("../images/v200_152.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  opacity: 1;
  position:relative;
  margin-top: 10vh;
  margin-left: 12vw;
  overflow: hidden;
}
.FRA500 {
  width: 100%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1vh;
  left: 2vw;
  font-family: League Spartan;
  font-weight: Regular;
  font-size: 3vh;
  opacity: 1;
  text-align: left;
}
.Boarder_FRA500 {
  width: 25vw;
  height: 5vh;
  background: rgba(217,217,217,0);
  opacity: 1;
  position: relative;
  border: 2px solid rgba(255,255,255,1);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}

.Recently_Update{
  width: 100%;
  color: white;
  position: relative;
  margin-top: 10vh;
  margin-left: 15vw;
  font-family: Lilita One;
  font-weight: Regular;
  font-size: 5vw;
  text-align: left;
}

.panel {
  width: 30vw;
  height: 30vh;
  position: relative;
  border-radius: 20px;
  margin-top: 5vh;
  margin-left: -40vw;
  overflow: hidden;
  text-align: center;
  font-family: Lilita One, sans-serif;
  font-weight: Regular;
  cursor: pointer;
  transition: 0.3s;
}
.panel .default, .panel .hover {
  padding: 20px;
  border-radius: 20px;
  color: white;
  font-size: 1.5vw;
}
.panel .default {
  background-color: #2B2B2B;
}
.panel .hover {
  background-color: #707EFF;
  display: none;
}
.panel:hover .default {
  display: none;
}
.panel:hover .hover {
  display: block;
}
.panel-link {
  text-decoration: none; /* Removes underline */
  display: inline-block; /* Makes it wrap the panel properly */
}

footer {
  position: absolute;
  top: 1400px;
  height: 30vh;
  width: 100%;
  background: #151515;
  color : white;
  padding: 80px 0;
  text-align: left;
}

footer f1{
  position: relative;
  top: 30px;
  left: 100px;
  padding: 80px 50px;
  color: white;
  font-family: 'League Spartan', sans-serif;
  font-size: 4vw;
  font-weight: 500;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  margin-top: 8vh;
  border-top: 1px solid #FAD85D;
  border-bottom: 1px solid #FAD85D;
}

.footer-column {
  border-right: 1px solid #FAD85D;
  flex: 1;
  text-align: center;
  padding: 40px;
  font-size: 1vw;
  font-family: 'League Spartan', sans-serif;
  font-weight: 200;
  line-height: 2;
}
